body{
    margin: 0;
    padding: 0;
    font-family: quicksand,Verdana, Geneva, Tahoma, sans-serif;
    background: #F2F2F2;
    box-sizing: border-box;
    /* overflow-anchor: none; */
}

*{
    box-sizing: inherit;
}

header{
    margin: 0;
    padding: 0;
}
canvas{
    background: #F2F2F2;
    padding: 0;
    margin: 0;
}

header h1{
    position: absolute;
    top: 30vh;
    font-size: 100px;
    color: #F26A4B;
}


header a{
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    color: #f27649;
    text-decoration: none;
    background: #262526;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: block;

}

header a:hover{
    text-shadow: 0px 0px 10px #E53710,0px 0px 10px #E53710,0px 0px 10px #E53710,0px 0px 10px #E53710;

}

header .control{
    color:  #262526;;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px;
    padding: 10px;
    border: 1px solid  #262526;
    border-radius: 10px;
    background: #ca4f2398;
    backdrop-filter: blur(6px);
       
}

header .control button{
    border: none;
    background: none;
    font-family: quicksand;
    color:  #262526;
    display: block;

}

header .flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s linear 0s;
}

header .flex-container hr{
    grid-column: 1/3;
}

.nav-header{
    padding: 10px 0px;
    text-align: center;
    border: 2px solid black;
    background: #262526;
    color: white;
}

ul{
    padding: 0;
    text-align: center;
    list-style-type: none;
    background:#262526;
    margin: auto;
    border: 2px solid black;
    border-top: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in 0s;
    position: absolute;
    width: 100%;
}

ul li{
    border: 2px solid black;
    background: #262526;
}


ul li a{
    font-size: 30px;
    text-decoration: none;
    color : #f27649; 
    display: block;   
}

nav{
    position: sticky;
    top: 0px;
}

a.anchor{
    visibility: hidden;
    position: relative;
    top:-50px;
}

section{
    text-align: center;
    margin: auto;
    min-height: 100vh;
}

h2{
    font-size: 40px;
    margin: 20px;
    color: #f26a4b;
}

section p{
    margin: 20px 20vw;
    color: #8c493a;
    text-align: justify;
}

hr{
    width: 80%;
}

section .project{
    border: black solid 1px;
    margin: 20px;
}

section .project .flex-container{
    display: flex;
    align-items: center;
    padding: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in 0s;
}



section .project h3{
    font-size: 20px;
    color: #f27649;
    text-align: left;
    margin: 0;
    padding: 5px;
    background:#262526;
}

section .flex-container p{
    display: inline;
    flex-grow: 1;
    margin: 10px
}

section .flex-container img{
    margin: 10px;
}

footer h2{
    text-align: center;    
}



footer p,a{
    font-size: 24px;
    color: #8c493a;
    display: inline;
    margin: auto;
    text-decoration: none;
}

footer i{
    margin: 10px;
}

footer div{
    text-align: center;
}



@media screen and (min-width: 700px){
    body{
        width: 80vw;
        width: max(80vw,calc(100vw - 200px));
        
        margin: 0;
    }

    header a{
        display: none;
    }

    nav{
        width: 20vw;
        width: min(20vw,200px);
        position: fixed;
        right: 0px;
        height: 100vh;
        background:#262526;
    }

    .nav-header{
        display: none;
    }

    nav ul{
        max-height: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
    }

    nav ul li{
        border: none;
    }

    nav ul li a{
        border: none;
        padding: 20px;
    }

    nav ul li:hover{
        background: grey;
    }

    nav ul li a:hover{
        text-shadow: 0px 0px 10px #E53710,0px 0px 10px #E53710,0px 0px 10px #E53710,0px 0px 10px #E53710;
    }

    a.anchor{
        position: relative;
        top:0px;
    }

}


@media screen and (max-width: 330px){
    header h1{
        font-size: 70px;
    }
}
